<div class="cover" style="background-image: url('<%- url_for(theme.background) %>')">
<% if (is_archive()) { %>
  <% if(!is_year()) { %>
      <h2 class="title"><%= __('archive') %></h2>
      <p class="desc"><%= __('posts') %>：<%= site.posts.length %></p>
    </div>
    <div class="inner">
      <div class="archive card">
  <% } %>
  <% var last, year; %>
  <% page.posts.each(function(post){ %>

    <% year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div> <!-- archive / archive-content -->
      <% } %>
      <% last = year; %>

      <% if (is_year()) { %>
          <h2 class="title"><%= __('archive') %> <%= year %></h2>
          <p class="desc"><%= __('posts') %>：<%= page.posts.length %></p>
        </div>
        <div class="inner">
          <div class="archive">
      <% } else { %>
        <a class="archive-year" href="<%- url_for(config.archive_dir + '/' + year) %>"><%= year %></a>
        <div class="archive-content">
      <% } %>

    <% } %>

    <% if (is_year()) { %>
      <%- partial('_partial/article', {post: post, index: true}) %>
    <% } else { %>
      <div class="archive-item">
        <%- partial('post/date', {post, post, timeago: false, date_format: 'YYYY-MM-DD'}) %>
        <%- partial('post/title', {post, post}) %>
      </div>
    <% } %>

  <% }) %>

  <% if (page.posts.length){ %>
    </div> <!-- archive / archive-content -->
  <% } %>

  <% if(!is_year()) { %>
    </div>
  <% } %>

<% } else { %>
    <h2 class="title"><% if (is_category()) { %><%= __('category') %><% } else { %><%= __('tag') %><% } %> <%= title %></h2>
    <p class="desc"><%= __('posts') %>：<%= page.posts.length %></p>
  </div> <!-- cover -->
  <div class="inner">
    <div class="archive">
      <% page.posts.each(function(post){ %>
        <%- partial('_partial/article', {post: post, index: true}) %>
      <% }) %>
    </div>
<% } %>

<%- partial('_partial/paginator') %>

</div> <!-- inner -->
