<% if (pagination == 2){ %>
  <% page.posts.forEach(function(post){ %>
    <div id="article-item" class="article-item">
      <%- partial('_partial/article', {post: post, index: true}) %>
    </div>
  <% }) %>
<% } else { %>
  <div id="archive" class="archive">
    <% if (is_archive()) { %>
      <% var last, year; %>
      <% page.posts.each(function(post, i){ %>
        <% year = post.date.year(); %>
        <% if (last != year){ %>
          <% if (last != null){ %>
            </ul>
          <% } %>
          <% last = year; %>
          <% if (is_year()) { %>
            <h1 class="archive-year"><%= year %></h1>
          <% } else { %>
            <a class="archive-year" href="<%- url_for(config.archive_dir + '/' + year) %>"><%= year %></a>
          <% } %>
          <ul class="archive-list">
        <% } %>
        <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
      <% }) %>
      <% if (page.posts.length){ %>
        </ul>
      <% } %>
    <% } else { %>
      <h1 class="archive-year"><%= title %></h1>
      <ul class="archive-list">
        <% page.posts.each(function(post, i){ %>
          <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
        <% }) %>
      </ul>
    <% } %>
  </div>
<% } %>
