<article id="<%= post.slug %>" class="article">
  <% if (index) { %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="article-content">
    <%- partial('post/title') %>
    <div class="post-content">
      <% if (index) { %>
        <% if (post.excerpt) { %>
          <%- post.excerpt %>
        <% } else { %>
          <p><%- truncate(strip_html(post.content), {length: 100, omission: '...'}) %></p>
        <% }%>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <div class="post-meta">
      <%- partial('post/date', {date_format: 'MMMMDD, YYYY'}) %>
      <%- partial('post/category') %>
    </div>
    <% if (!index) { %>
      <div class="post-footer">
        <%- partial('post/copyright') %>
        <%- partial('post/nav') %>
        <% if (post.comments) { %>
          <%- partial('post/comment') %>
        <% } %>
      </div>
    <% } %>
  </div>
</article>
