<article id="<%= post.slug %>" class="article card">
  <%- partial('post/gallery') %>
  <div class="article-content">
    <%- partial('post/title') %>
    <div class="post-meta">
      <%- partial('post/date', {date_format: 'MMMMDD, YYYY'}) %>
      <%- partial('post/category') %>
    </div>
    <div id="post-content" class="post-content">
      <% if (index) { %>
        <% if (post.excerpt) { %>
          <%- post.excerpt %>
        <% } else { %>
          <p><%- truncate(strip_html(post.content), {length: 80, omission: '...'}) %></p>
        <% }%>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <% if (!index) { %>
      <div class="post-footer">
        <%- partial('post/copyright') %>
      </div>
    <% } %>
  </div>
</article>
<% if (!index) { %>
  <% if (post.prev || post.next){ %>
    <div class="nagination card">
      <% if (post.prev){ %>
      <a href="<%- url_for(post.prev.path) %>" class="nagination-link"><%= __('newer') %><%= post.prev.title %></a>
      <% } %>
      <% if (post.next){ %>
      <a href="<%- url_for(post.next.path) %>" class="nagination-link"><%= __('older') %><%= post.next.title %></a>
      <% } %>
    </div>
  <% } %>
  <% if (post.comments) { %>
    <%- partial('comment') %>
  <% } %>
<% } %>
