<article id="<%= post.slug %>" class="article <% if (index) { %>list<% } %>" itemscope itemprop="blogPost">
  <% if (index) { %>
    <%- partial('post/gallery') %>
    <div class="article-content">
      <%- partial('post/title', {class_name: 'post-link'}) %>
      <div class="post-summary" itemprop="articleBody">
        <% if (post.excerpt) { %>
          <%- post.excerpt %>
        <% } else if (theme.auto_excerpt) { %>
          <%- truncate(strip_html(post.content), {length: 120, omission: '...'}) %>
        <% }%>
      </div>
  <% } else { %>
    <%- partial('post/title', {class_name: 'post-title'}) %>
  <% } %>
  <div class="post-meta">
    <%- partial('post/date', {class_name: 'meta-date', date_format: 'MMMMDD, YYYY'}) %>
    <%- partial('post/category', {class_name: 'meta-category'}) %>
  </div>
  <% if (index) { %>
    </div>
  <% } else { %>
    <div class="post-content" itemprop="articleBody"><%- post.content %></div>
    <footer class="post-footer">
      <%- partial('post/copyright') %>
      <%- partial('post/tag') %>
    </footer>
  <% } %>
</article>

<% if (!index) { %>
  <%- partial('post/paginator') %>
  <% if (post.comments) { %>
    <%- partial('comment') %>
  <% } %>
<% } %>
