<footer id="footer" class="footer">
  <div class="outer">
    <div class="copyright">
      <a href="<%- url_for() %>"><%= config.title %> &copy; <%= theme.since %> - <%- date(new Date(), 'YYYY') %></p>
    </div>
    <div class="navigation">
      <a href="<%- url_for(config.homepage) %>">Hexo · <%= config.author %></a>
    </div>
  </div>
</footer>
