<header id="header" class="header">
  <% if (is_post()) { %>
    <div id="page-nav" class="page-nav">
      <a class="link" href="<%- url_for() %>"></a>
      <h1 class="title"><%= page.title %></h1>
      <a id="qrcode" class="qrcode" href="javascript: void(0)"></a>
    </div>
  <% } else { %>
    <div id="site-banner" class="site-banner" style="background-image: url('<%- url_for(theme.banner) %>');"></div>
    <div id="site-brand" class="site-brand">
      <h1 class="brand-title"><a class="title" href="<%- url_for() %>"><%= config.title %></a></h1>
      <p class="brand-desc"><%= config.description %></p>
    </div>
    <div id="site-nav" class="site-nav">
      <div class="inner">
        <div class="nav">
          <ul id="nav-icon" class="nav-icon">
            <li></li><li></li><li></li>
          </ul>
          <ul id="nav-list" class="nav-list">
            <% for (var i in theme.nav){ %>
              <li class="nav-item"><a href="<%- url_for(theme.nav[i]) %>"><%= __(i) %></a></li>
            <% } %>
          </ul>
          <%- partial('_partial/paginator') %>
        </div>
      </div>
    </div>
  <% } %>
</header>
