<header class="copy"></header>
<header id="header" class="header">
  <div class="inner">
    <div class="header-wrap">
      <div id="header-brand" class="header-brand">
        <!-- <img src="<%- url_for(theme.logo) %>" alt=""> -->
        <a class="brand-title" href="<%- url_for() %>">「<%= config.headertitle %>」</a>
      </div>
      <div id="header-nav" class="header-nav">
        <ul id="menu-icon" class="menu-icon">
          <li></li><li></li><li></li>
        </ul>
        <ul id="menu-list" class="menu-list">
          <% for (var i in theme.nav){ %>
            <li class="menu-item"><a href="<%- url_for(theme.nav[i]) %>"><%= __(i) %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
    <% if (is_post()) { %>
      <div id="page-title" class="page-title">
        <a class="link" href="<%- url_for() %>"></a>
        <h1 class="title"><% if (page.title){ %><%= page.title %><% } else { %><%= config.title %><% } %></h1>
        <a id="qrcode" class="qrcode" href="javascript: void(0)"></a>
      </div>
    <% } %>
  </div>
</header>
