<% if (is_home()) { %>
  <header id="header" class="header is-home">
    <div class="cover" style="background-image: url('<%- url_for(theme.background) %>')">
      <h1 class="title"><%= config.title %></h1>
      <p class="desc"><%= config.description %></p>
    </div>
    <div class="outer">
<% } else { %>
  <header id="header" class="header is-page">
    <div class="outer">
      <div class="logo">
        <a class="title" href="<%- url_for() %>"><%= config.title %></a>
      </div>
<% } %>

    <div class="nav">
      <ul id="nav-icon" class="nav-icon">
        <li></li><li></li><li></li>
      </ul>
      <ul class="nav-menu">
        <% for (var i in theme.nav){ %>
          <li class="nav-item">
            <a href="<%- url_for(theme.nav[i]) %>"><%= __(i) %></a>
          </li>
        <% } %>
      </ul>
    </div>

  </div>
</header>
