<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= __(title) %> | <% } %><%= config.title %><% if (is_home()){ %> - <%= config.description %><% } %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (config.author) { %>
    <meta name="author" content="<%= config.author %>">
  <% }%>
  <% if (config.description) { %>
    <meta name="description" content="<%= config.description %>">
  <% } %>
  <% if (page.keywords){ %>
    <meta name="keywords" content="<%= page.keywords %>">
  <% } else if (theme.keywords){ %>
    <meta name="keywords" content="<%= theme.keywords %>">
  <% } else if (page.tags && page.tags.length){ %>
    <meta name="keywords" content="<% page.tags.forEach(function(tag, i){ %><%= tag.name %><% }) %>">
  <% } else { %>
    <meta name="keywords" content="<%- truncate(strip_html(page.content), {length: 100, omission: ','}) %>">
    <% }%>
  <% if (theme.google_site_verification){ %>
    <meta name="google-site-verification" content="<%= theme.google_site_verification %>">
  <% } %>
  <% if (theme.baidu_site_verification){ %>
    <meta name="baidu-site-verification" content="<%= theme.baidu_site_verification %>">
  <% } %>
  <% if (theme.qihu_site_verification){ %>
    <meta name="360-site-verification" content="<%= theme.qihu_site_verification %>">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
  <% } %>
  <% if (theme.gitalk.enable) { %>
    <%- css('https://unpkg.com/gitalk/dist/gitalk.css') %>
  <% } %>
  <% if (is_post()) { %>
    <%- css('css/special') %>
  <% } %>
  <%- css('css/style') %>
</head>
