<header class="header" style="background-image: url(<%= url_for(theme.banner) %>);">
  <div class="container">
    <div class="header-navbar">
      <div id="nav-search" class="nav-search">
        <ul><li></li><li></li></ul>
      </div>
      <div class="header-nav">
        <div id="nav-menu" class="nav-menu">
          <% for (var i in theme.menu){ %>
            <a class="menu-item" href="<%- url_for(theme.menu[i]) %>"><%= __(i) %></a>
          <% } %>
        </div>
        <div id="nav-toggle" class="nav-toggle">
          <ul><li></li><li></li><li></li></ul>
        </div>
      </div>
    </div>

    <div class="header-title">
      <a href="<%- url_for() %>"><%= config.title %></a>
    </div>
  </div>
</header>