<% if (page.photos != ''){ %>
  <% page.photos.forEach(function(photo){ %>
    <div class="cover" style="background-image: url('<%- url_for(photo) %>')">
  <% }) %>
<% } else { %>
  <div class="cover" style="background-image: url('<%- url_for(theme.background) %>')">
<% } %>
  <h1 class="title"><%= __('about') %></h1>
</div>
<div class="inner">
  <article id="<%= page.slug %>" class="article about card">
    <div class="post-content"><%- page.content %></div>
  </article>
  <% if (page.comments) { %>
    <%- partial('_partial/comment') %>
  <% } %>
</div>
