<% if (page.photos && page.photos != ''){ %>
  <div class="cover" style="background-image: url('<%- url_for(page.photos[0]) %>')">
<% } else { %>
  <div class="cover" style="background-image: url('<%- url_for(theme.banner) %>')">
<% } %>
  <h1 class="title"><%= __('about') %></h1>
  <p class="desc"><%= __('Exponential') %></p>
</div>
<div class="inner">
  <article id="<%= page.slug %>" class="article about card">
    <h1 class="post-title"><%= __('about') %></h1>
    <div class="post-content"><%- page.content %></div>
  </article>
  <!-- <% if (page.comments) { %>
    <%- partial('_partial/comment') %>
  <% } %> -->
</div>
