<article id="<%= page.layout %>-<%= page.slug %>" class="article article-type-<%= page.layout %>" itemscope itemprop="blogPost">
  <div class="post-content" itemprop="articleBody"><%- page.content %></div>
</article>

<% if (page.comments) { %>
  <%- partial('_partial/comment', {post: page}) %>
<% } %>
