<div class="articles-wrap">
	<% page.posts.each(function(post){ %>
		<article id="<%= post.slug %>" class="article article-post">
			<div class="post-content">
			  <%- partial('_partial/post/title', {post: post, class_name: 'post-link'}) %>
			  <div class="post-summary" itemprop="articleBody">
			    <% if (post.excerpt) { %>
			      <%- post.excerpt %>
			    <% }else if (theme.auto_excerpt) { %>
			      <%- truncate(strip_html(post.content), {length: 150, omission: '...'}) %>
			    <% }%>
			  </div>
				<div class="post-meta">
					<%- partial('_partial/post/date', {post: post, class_name: 'meta-date', date_format: 'MMMMDD, YYYY'}) %>
					<%- partial('_partial/post/category', {post: post, class_name: 'meta-category'}) %>
				</div>
			</div>
		</article>
	<% }) %>
</div>
<% if (page.total > 1){ %>
	<%- partial('_partial/paginator') %>
<% } %>
