<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="wrapper" class="wrapper">
    <%- partial('_partial/header') %>
    <div id="content" class="content"><%- body %></div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <%- partial('_partial/anchor') %>
  <%- partial('_partial/mobile') %>
  <%- partial('_partial/qrcode') %>
  <%- partial('_partial/script') %>
</body>
</html>
