<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div class="container">
    <%- partial('_partial/header') %>
    <%- partial('_partial/banner') %>
    <div id="content" class="content"><div class="inner"><%- body %></div></div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <div id="scrollup" class="scrollup"><ul><li></li><li></li></ul></div>
  <%- partial('_partial/after-footer') %>
</body>
</html>
