<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div class="container">
    <%- partial('_partial/header') %>
    <div class="content"><div class="inner"><%- body %></div></div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
  <div id="scrollup" class="scrollup"><ul><li></li><li></li></ul></div>
</body>
</html>
