<div class="cover" style="background-image: url('<%- url_for(theme.background) %>')">
  <h1 class="title"><%= __('tag') %></h1>
</div>
<div class="inner">
  <div class="archive tag card">
    <% site.tags.each(function(tag) { %>
      <a class="tag-item" data-slug="<%= tag.slug %>" href="<%- url_for(tag.path) %>">
        <span class="tag-title"><%= tag.name %></span>
        <span class="tag-count">(<%= tag.length %>)</span>
      </a>
    <% }) %>
  </div>
</div>
