<% if (post.prev || post.next){ %>
  <div class="article-paginator">
    <a href="<% if (post.prev){ %><%- url_for(post.prev.path) %><% } %>" class="paginator-link newer">
      <div class="paginator-caption"><%= __('newer') %></div>
      <div class="paginator-title"><% if (post.prev){ %><% if (post.prev.title){ %><%= post.prev.title %><% } else { %>(no title)<% } %><% } else { %><%= __('none') %><% } %></div>
    </a>
    <a href="<% if (post.next){ %><%- url_for(post.next.path) %><% } %>" class="paginator-link older">
      <div class="paginator-caption"><%= __('older') %></div>
      <div class="paginator-title"><% if (post.next){ %><% if (post.next.title){ %><%= post.next.title %><% } else { %>(no title)<% } %><% } else { %><%= __('none') %><% } %></div>
      </a>
  </div>
<% } %>
