<div class="widget more">
  <div class="widget-content">
    <ul class="more-list">
      <li><a href="<%- url_for() %>"><%= config.title %> &copy; <%= theme.since %> - <%- date(new Date(), 'YYYY') %></li>
      <li>Powered by <a href="<%- url_for(config.homepage) %>">Hexo · <%= config.author %></a></li>
    </ul>
  </div>
</div>
